<section class="menu-container">
  <section class="title-container">
    <mat-icon>assignment_ind</mat-icon>
    <h3>Registro de Alunos</h3>
  </section>

  <section class="menu-items-container">
    <div class="menu-item">
      <mat-icon >people</mat-icon> Novo Aluno
    </div>
    <div class="menu-item">
      <mat-icon >people</mat-icon> Lista de Alunos
    </div>
    <div class="menu-item">
      <mat-icon>class</mat-icon> Novo Curso
    </div>
    <div class="menu-item">
      <mat-icon>class</mat-icon> Lista de Cursos
    </div>
  </section>

  <section class="menu-bottom">
    Desenvolvido por Sávio Araújo
  </section>
</section>
