<section class="course-list">
  <h3>
    Lista de Cursos
  </h3>
  <div class="table-container" *ngIf="courses.length !== 0">
    <table mat-table [dataSource]="courses" class="mat-elevation-z8 ">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <div class="icons-container">
            <mat-icon class="delete-icon" (click)="openDeleteDialog({
              code: element.code,
              description: element.description
            })">delete</mat-icon>
            <mat-icon class="edit-icon" (click)="goToCourse(element.code)">edit</mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['description', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['description', 'actions'];"></tr>
    </table>
  </div>
  <mat-paginator
    #paginator
    [length]="totalItems"
    [pageSize]="7"
    [pageIndex]="0"
    (page)="changeIndex($event)"
    *ngIf="courses.length !== 0"
  >
  </mat-paginator>
  <section class="empty-list" *ngIf="courses.length === 0 && page === 0">
    <h2>Você ainda não tem nenhum aluno</h2>
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </section>
</section>
