<mat-sidenav-container class="main-container" hasBackdrop="true">
  <mat-sidenav mode="over"  [(opened)]="menuOpened"><student-registration-side-menu></student-registration-side-menu></mat-sidenav>
  <mat-sidenav-content>
    <header>
      <mat-icon class="menu-icon" (click)="openMenu()">menu</mat-icon>
      <section class="title-container">
        <mat-icon>assignment_ind</mat-icon>
        <h3>Registro de Alunos</h3>
      </section>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
