mat-card{
  margin-top: 5rem;
  height: 15rem;
  display: flex;
  width: 85%;
  align-items: center;
  flex-direction: column;

  @media(min-width: 37.5rem){
    width: 50%;
  }

}

.student-form-container{
  display: flex;
  justify-content: center;
  height: 100%;
  .student-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    mat-form-field {
      margin-top: 2rem;
      width: 90%;
    }
    .buttons-container{
      margin-top: .5rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
