.dialog-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

button{
  width: 90%;
  position: absolute;
  top: 13rem;
  justify-self: flex-end;
}
