<section class="course-form-container">
  <mat-card>
    <h1>
      {{ courseCode ? "Editar curso" : "Novo curso" }}
    </h1>
    <form class="course-form" [formGroup]="courseForm" (submit)="saveCourse()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição" formControlName="description">
        <mat-error *ngIf="courseForm.controls.description.errors && !courseForm.controls.description.pristine">A descrição deve conter entre 3 e 50 caracteres.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ementa</mat-label>
        <textarea matInput placeholder="Ementa" formControlName="menu" rows="5"></textarea>
        <mat-error *ngIf="courseForm.controls.menu.errors && !courseForm.controls.menu.pristine">A ementa deve conter no mínimo 3</mat-error>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-raised-button routerLink="">Cancelar</button>
        <button mat-raised-button type="submit" [disabled]="!courseForm.valid" color="primary">
          {{ courseCode ? "Salvar" : "Cadastrar" }}
        </button>
      </div>
    </form>
    <mat-accordion *ngIf="students.length" >
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alunos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="table-container" *ngIf="students.length !== 0">
          <table mat-table [dataSource]="students" class="mat-elevation-z8 ">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element">
                {{element.code}}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let element">
                <div class="icons-container">
                  <mat-icon class="delete-icon" (click)="openDeleteDialog({
                    code: element.code,
                    name: element.name
                  })">delete</mat-icon>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['code','name', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['code','name', 'actions'];"></tr>
          </table>
        </div>
        <div class="table-options">
          <button mat-raised-button routerLink="">Adicionar</button>
          <mat-paginator
            #paginator
            [length]="totalItems"
            [pageSize]="7"
            (page)="changeIndex($event)"
            *ngIf="students.length !== 0"
          >
          </mat-paginator>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</section>
