mat-card{
  margin-top: 5rem;
  height: 25rem;
  display: flex;
  width: 85%;
  align-items: center;
  flex-direction: column;
  @media(min-width: 37.5rem){
    width: 50%;
  }

}

mat-accordion{
  margin-top: 2rem;
  width: 105%;
  .table-container{
    width: 100%;
    table{
      width: 100%;
      .mat-column-actions{
        width: 10%;
      }
      td{
        .icons-container{
          cursor: pointer;
          .delete-icon{
            color: #db0000;
            margin-right: .2rem;
          }
          .edit-icon{
            color: #181848;
          }
          display: flex;
        }
      }
    }
  }

  .table-options{
    position: relative;
    button{
      top: 1rem;
      position: absolute;
    }
  }
}

.course-form-container{
  display: flex;
  justify-content: center;
  height: 100%;
  .course-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    mat-form-field {
      margin-top: 2rem;
      width: 90%;
    }
    .buttons-container{
      margin-top: .5rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

